@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600;700&family=Inter:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --color-brand-ivory: #F9F8F6;
  --color-brand-umber: #4B3621;
  --color-brand-onyx: #121212;
  --font-serif: "Cormorant Garamond", serif;
  --font-sans: "Inter", sans-serif;
}

:root {
  background-color: #121212;
  color: #F9F8F6;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: var(--font-sans);
  background-color: #121212;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-serif);
}

/* Lenis CSS */
html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}
